@import "src/@fuse/scss/fuse";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: #303f9f !important;
        background: -webkit-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
        background: -moz- oldlinear-gradient(45deg, #303f9f, #7b1fa2) !important;
        background: -o-linear-gradient(45deg, #303f9f, #7b1fa2) !important;
        background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
        color: inherit !important;
    }
    .mat-toolbar .mat-icon-button .secondary-text {
        // color: #ffffff !important;
        filter: invert(1) grayscale(1) contrast(10);
    }
    .mat-toolbar .fuse-search-bar-content mat-icon {
        // color: #ffffff !important;
        filter: invert(0) grayscale(1) contrast(10) !important;
    }
    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint("xs") {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint("xs") {
            height: 56px;
        }
    }
}
